# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex
*.bcf
*.run.xml
*.nav
*.snm
*.vrb

# Bibliography
*.bbl
*.blg

# Glossaries / indexes
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.idx
*.ilg
*.ind

# LaTeX editor files
*.bak
*.swp
*.swo